* {
  box-sizing: border-box;
}

.login-title {
  font-family: "Rowdies", cursive;
  font-size: 25px;
  font-family: "Rowdies", cursive;
  background-color: #080808;
  padding: 5px;
}
.login-sub-title{
  font-family: "Rowdies", cursive;
  font-size: 15px;
  font-family: "Rowdies", cursive;
  background-color: #080808b5;
  padding: 5px;
  margin: 0px;
}
.login-container {
  position: relative;
  bottom: 57px;
  width: 100vw;
  height: 100vh;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg);
}
/* ------------------------------------------------------------------------- */
/* media query */
@media screen and (min-width: 320px) and (max-width: 470px) {
  .login-title {
    font-size: 16px;
  }
.login-sub-title{
  font-size: small;
}
  .box {
    display: inline-block;
    margin-top: 10px !important;
    justify-content: center;
    align-items: center;
    width: 320px !important;
    margin-top: 20px !important;
  }

  .form {
    position: absolute !important;
    right: 50px;
    padding: 20px 10px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .inputBox input {
    position: relative;
    width: 150px !important;
    padding: 10px 9px 10px;
    font-size: 0.7em !important;
    letter-spacing: 0.05em;
    right: 0;
  }

  .inputBox span {
    position: relative;
    left: 0;
    padding: 5px 5px 5px !important;
    font-size: 0.7em !important;
  }
}
/* media query */
/* ------------------------------------------------------------------------- */
.box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  position: relative;
  left: 10px;
  bottom: 20px;
  width: 400px;
  height: 450px;
  border-radius: 8px;
  background-color: #716f6f;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 450px;
  background: linear-gradient(0deg, transparent, #45f4ff, #45f4ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 450px;
  background: linear-gradient(0deg, transparent, #45f4ff, #45f4ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: hsl(0, 3%, 6%);
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form h2 {
  color: #45f3ff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0, 1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 9px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 10px 10px;
  font-size: 0.9em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 3px !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}

.login-btn {
  margin-top: 35px;
}

.login-icon {
  margin-right: 20px;
  position: relative;
  top: 10px;
}

.card-btn {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 1.2em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.5em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 0.5em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.card-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
  cursor: pointer;
}

.card-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.card-btn:hover:before {
  transform: translateX(15em);
}

.invalid {
  color: #fb2222e2;
  margin-top: 20px;
  font-size: small;
  letter-spacing: 1px;
  font-weight: lighter;
}
